body { background: #d7ca03; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 39px; display: flex; }
.block-database-0 { color: #817552; font-size: 14px; margin-bottom: 5px; }
.block-notify-1 { color: #fbb269; font-size: 18px; margin-bottom: 5px; }
.block-cache-2 { color: #2742e5; font-size: 16px; margin-bottom: 5px; }
.block-sms-3 { color: #4dcd49; font-size: 20px; margin-bottom: 5px; }
.block-user-4 { color: #2a689d; font-size: 15px; margin-bottom: 5px; }